
.grid {
display: grid;
grid-template-columns:repeat(2, 300px);
grid-template-rows: repeat(4, 200px) ;
}

.nested {
  padding: 1em;
}
.boxhead {
  align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-end: 1;
  grid-row-start: 1;
  padding-top: 10px;
  text-align: center;
}

.paddles {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1 ;
  grid-row-end: 1;
  text-align: center;
}

.throwbags{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1 ;
  grid-row-end: 1;
  text-align: center;
}

.dittybags{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2 ;
  grid-row-end: 2;
  text-align: center;
}

.waterbottles{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2 ;
  grid-row-end: 2;
  text-align: center;
}
.wrapkits{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3 ;
  grid-row-end: 3;
  text-align: center;
}
.pumps{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3 ;
  grid-row-end: 3;
  text-align: center;
}

.spare{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4 ;
  grid-row-end: 4;
  text-align: center;
}


.sun {
  padding: 1em;
  padding-right: 4em;
 grid-column-start:4; 
 grid-column-end:5; 
 grid-row-start:1;
 text-align: center;
}

.time {
 grid-column-start:1; 
 grid-column-end:1; 
 grid-row-start:1;
 grid-row-start:1,
 text-align: left;
 font-size:small;
}

/* .boxDesc { */
/*   grid-column-start: 1; */
/*   grid-column-end: 1; */
/*   grid-row-start:3; */
/*   grid-row-end:15; */
/*   flex */
/*   text-align: center; */
/* } */
/* .boxcurrent { */
/*   grid-column-start: 2; */
/*   grid-column-end: 2; */
/*   grid-row-start:3; */
/*   grid-row-end:15; */
/*   text-align: center; */
/* } */
