
.grid {
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
}

h1 {
    text-align: left;
    /* color: #00FF7F; */
    font-style: inherit;
    font-size: xx-large;
    font-weight: 800;
}

h2 {
    position: center;
    width: fit-content;
    padding: 8em, 8em, 8em, 8em;
    /* color: #00FFFF; */
    font-size: xx-large;
    font-weight: 800;
    text-shadow: 4px 9px 0px 0px #940206;
    text-align: left;
    text-decoration: double underline;
}

h3 {
    position: right;
    left: 29em;
    bottom: 14em;
    box-sizing: 900px;
    box-direction:linear, unset, ease-out;
    font-size: x-large;
    font-weight: 800;
    padding: 100px 10px 100px 10px;
}



body {
    background-size: 1920x1080;
    font-style: Bold Helvetica;
    background-color: darkblue;
    font-size: x-large;
}

ul {
    position: relative;
    font-size: x-large;
}

/* ul { */
/*     position: relative; */
/*     left: 30px; */
/*     bottom: 100px; */
/*     box-sizing: 400px; */
/*     box-align:center; */
/*     box-shadow:8em; */
/*     padding: 40px 40px 40px 40px; */
/*     font-size: medium; */
/* } */
