<!DOCTYPE=HTML>

{{ template "header.tmpl" }}

<div class= boxhead>
<h1 class= boxhead>Warehouse Helper</h1>
<p> {{ .day }}  : {{ .time }}
</div>


<div class= grid>

<div class= paddles>
<h2>{{ .paddles }}</h2>
<p>{{ .paddlesA }}</p>
</div>

<div class= throwbags>
<h2>{{ .throwbags }}</h2>
<p>{{ .throwbagsA }}</p>
</div>

<div class= dittybags>
<h2>{{ .dittybags }}</h2>
<p>{{ .dittybagsA }}</p>
</div>

<div class= waterbottles>
<h2>{{ .waterbottles }}</h2>
<p>{{ .waterbottlesA }}</p>
</div>

<div class= wrapkits>
<h2>{{ .wrapkits }} </h2>
<p>{{ .wrapkitsA }}</p>
</div>

<div class= pumps>
<h2>{{ .pumps }} </h2>
<p>{{ .pumpsA }}</p>
</div>

<div class= spare>
<h2>{{ .spare }} </h2>
<p>{{ .spareA }}</p>
</div>

</div>

{{ template "footer.tmpl" }}
